<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149050519458-0cn82odpocm3nv22lflstpe9ogbsdqof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149050519458-0cn82odpocm3nv22lflstpe9ogbsdqof</string>
	<key>API_KEY</key>
	<string>AIzaSyBAXUuceWwof3f5ajI0w_dqrmkkMyo6lSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>149050519458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mataamApp</string>
	<key>PROJECT_ID</key>
	<string>mataam-app-80855</string>
	<key>STORAGE_BUCKET</key>
	<string>mataam-app-80855.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149050519458:ios:7d025a8a1e2ee24877ccfb</string>
</dict>
</plist>